
    
{% extends 'main.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="breadcrumb__links">
                        <a href="{% url 'home'%}"><i class="fa fa-home"></i> Home</a>
                        <span>Brands</span>
                    </div>
                </div>
				<div class="col-lg-2">
                    {% if userType == 'ADMIN'%}
					<a href="{% url 'add-brand'%}" class="btn site-btn">Add Brand</a>
                    {% endif %}
				</div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        {% for rec in records %}
                        <div class="col-lg-3 col-md-4">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{% static 'images/' %}{{rec.photo}}">
                                    <ul class="product__hover">
                                        <li><a href="{% static 'images/' %}{{rec.photo}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        {% if userType == 'ADMIN'%}
                                        <li><a href="{% url 'upload-brand-photo' rec.id %}"><span class="icon_image"></span></a></li>
                                        <li><a href="{% url 'update-brand' rec.id %}"><span class="icon_pencil"></span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{rec.name}}</a></h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
    {% endblock %}