
{% extends 'main.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'home'%}"><i class="fa fa-home"></i> Home</a>
                        <a href="{% url 'brands'%}"><i class="fa fa-arrow"></i> Brands</a>
                        <span>{% if sub_page %} {{sub_page}} {% else %} Add {% endif %} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">

                    <div class="contact__form">
                        <h5>{% if sub_page %} {{sub_page}} {% else %} Add {% endif %}</h5>
                        <form method = "post" enctype="multipart/form-data">
                            {%csrf_token%}
                            <p>
                                <label for="id_photo">Photo:</label>
                                <input type="file" name="photo" accept="image/*" id="id_photo">
                            </p>
                            <button type="submit" class="site-btn">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                
            </div>
    </div>
</div>
</section>
<!-- Contact Section End -->

{% endblock %}