
    
{% extends 'main.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Search & Compare</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseOne">Brands</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    {% for rec in brands %}
                                                    <li><a href="{% url 'search' %}?brand={{ rec.name }}">{{ rec.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseTwo">OS</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li><a href="{% url 'search' %}?os=Android">Android</a></li>
                                                    <li><a href="{% url 'search' %}?os=iOS">iOS</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>Search by price</h4>
                            </div>
                            <form action="{% url 'search' %}">
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="5000" data-max="1500000"></div>
                                <div class="range-slider">
                                    <div class="price-input" style="width:100%">
                                        <p id="price">Price: </p>
                                        <input type="hidden" size="20" id="minamount" name="minamount" value="{{minP}}">
                                        <input type="hidden" id="maxamount" name="maxamount" value="{{maxP}}">
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <button>Filter</button></form>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        {% if rec1 or rec2 or rec3 %}
                        {% else %}
                        <div class="col-lg-12 col-md-12 col-sm-6">
                            <p class="error">No item exists in compare list. Please search and add items to list.</p>
                        </div>
                        {% endif %}
                        {% if rec1 %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{% static 'images/' %}{{rec1.photo}}">
                                    <ul class="product__hover">
                                        <li><a href="{% static 'images/' %}{{rec1.photo}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'add-to-wishlist' rec1.id%}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url 'product' rec1.id %}"><span class="icon_info_alt"></span></a></li>
                                        <li><a href="{% url 'rem-from-compare' 1 %}"><span class="icon_close"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{rec1.model}}</a></h6>
                                    <div class="product__price">{{rec1.brand.name}}</div>
                                    <div class="rating">
                                        <p>
                                            <table>
                                                <tr><th>Price </th> <td>Rs. {{rec1.price}}</td>   </tr>
                                                <tr><th>OS </th> <td>{{rec1.os}}</td>   </tr>
                                                <tr><th>Colors </th> <td>{{rec1.colors}}</td>   </tr>
                                                <tr><th>Weight </th> <td>{{rec1.weight}} grms</td>   </tr>
                                                <tr><th>RAM </th> <td>{{rec1.ram}}{{rec1.ramUnit}}</td>   </tr>
                                                <tr><th>ROM </th> <td>{{rec1.rom}}{{rec1.romUnit}}</td>   </tr>
                                                <tr><th>Announced Date : </th> <td>{{rec1.announcedDate}}</td>   </tr>
                                                <tr><th>Launch Date : </th> <td>{{rec1.launchDate}}</td>   </tr>
                                                <tr><th>Screen Dimension: ({{rec1.dimentionUnit}})</th> <td>{{rec1.screenHeight}} x {{rec1.screenWidth}}</td>   </tr>
                                                <tr><th>Product Dimension H x W x L  ({{rec1.dimentionUnit}}) :</th> <td>{{rec1.height}} x {{rec1.width}} x {{rec1.length}}</td>   </tr>
                                                
                                                <tr><th>Wifi : </th> <td>{{rec1.wifi}} ({{rec1.wifiVersion}})</td>   </tr>
                                                <tr><th>Bluetooth : </th> <td>{{rec1.bluetooth}} ({{rec1.btVersion}})</td>   </tr>
                                                <tr><th>FM Radio : </th> <td>{{rec1.fm}}</td>   </tr>
                                                <tr><th>Front Camera(s) : : </th> <td>{{rec1.frontCams}} Flash : {{rec1.fCamFlash}}</td>   </tr>
                                                <tr><th> F. Cam 1: </th><td> {% if rec1.frontCams >= 1 %} {{rec1.fCam1Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> F. Cam 2: </th><td> {% if rec1.frontCams >= 2 %} {{rec1.fCam2Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> F. Cam 3: </th><td> {% if rec1.frontCams >= 3 %} {{rec1.fCam3Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th>Back Camera(s) : : </th> <td>{{rec1.backCams}} Flash : {{rec1.bCamFlash}}</td>   </tr>
                                                <tr><th> B. Cam 1: </th><td> {% if rec1.backCams >= 1 %} {{rec1.bCam1Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> B. Cam 2: </th><td> {% if rec1.backCams >= 2 %} {{rec1.bCam2Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> B. Cam 3: </th><td> {% if rec1.backCams >= 3 %} {{rec1.bCam3Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> B. Cam 4: </th><td> {% if rec1.backCams >= 4 %} {{rec1.bCam4Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> SIM(s): </th><td>  {{rec1.sims}} </td></tr>
                                                <tr><th> Sim 1 : </th><td> {{rec1.sim1Network}}  </td></tr>
                                                <tr><th> SIM2: </th><td> {% if rec1.sims >= 2 %} {{rec1.sim2Network}}  {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> SIM3: </th><td> {% if rec1.sims >= 3 %} {{rec1.sim3Network}}  {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> SIM4: </th><td> {% if rec1.sims >= 4 %} {{rec1.sim4Network}}  {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> Battery : </th><td> {{rec1.battery}}  mAH</td></tr>
                                            </table>
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        {% endif %}
                        {% if rec2 %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{% static 'images/' %}{{rec2.photo}}">
                                    <ul class="product__hover">
                                        <li><a href="{% static 'images/' %}{{rec2.photo}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'add-to-wishlist' rec2.id%}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url 'product' rec2.id %}"><span class="icon_info_alt"></span></a></li>
                                        <li><a href="{% url 'rem-from-compare' 2 %}"><span class="icon_close"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{rec2.model}}</a></h6>
                                    <div class="product__price">{{rec2.brand.name}}</div>
                                    <div class="rating">
                                        <p>
                                            <table>
                                                <tr><th>Price </th> <td>Rs. {{rec2.price}}</td>   </tr>
                                                <tr><th>OS </th> <td>{{rec2.os}}</td>   </tr>
                                                <tr><th>Colors </th> <td>{{rec2.colors}}</td>   </tr>
                                                <tr><th>Weight </th> <td>{{rec2.weight}} grms</td>   </tr>
                                                <tr><th>RAM </th> <td>{{rec2.ram}}{{rec2.ramUnit}}</td>   </tr>
                                                <tr><th>ROM </th> <td>{{rec2.rom}}{{rec2.romUnit}}</td>   </tr>
                                                <tr><th>Announced Date : </th> <td>{{rec2.announcedDate}}</td>   </tr>
                                                <tr><th>Launch Date : </th> <td>{{rec2.launchDate}}</td>   </tr>
                                                <tr><th>Screen Dimension: ({{rec2.dimentionUnit}})</th> <td>{{rec2.screenHeight}} x {{rec2.screenWidth}}</td>   </tr>
                                                <tr><th>Product Dimension H x W x L  ({{rec2.dimentionUnit}}) :</th> <td>{{rec2.height}} x {{rec2.width}} x {{rec2.length}}</td>   </tr>
                                                
                                                <tr><th>Wifi : </th> <td>{{rec2.wifi}} ({{rec2.wifiVersion}})</td>   </tr>
                                                <tr><th>Bluetooth : </th> <td>{{rec2.bluetooth}} ({{rec2.btVersion}})</td>   </tr>
                                                <tr><th>FM Radio : </th> <td>{{rec2.fm}}</td>   </tr>
                                                <tr><th>Front Camera(s) : : </th> <td>{{rec2.frontCams}} Flash : {{rec2.fCamFlash}}</td>   </tr>
                                                <tr><th> F. Cam 1: </th><td> {% if rec2.frontCams >= 1 %} {{rec2.fCam1Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> F. Cam 2: </th><td> {% if rec2.frontCams >= 2 %} {{rec2.fCam2Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> F. Cam 3: </th><td> {% if rec2.frontCams >= 3 %} {{rec2.fCam3Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th>Back Camera(s) : : </th> <td>{{rec2.backCams}} Flash : {{rec2.bCamFlash}}</td>   </tr>
                                                <tr><th> B. Cam 1: </th><td> {% if rec2.backCams >= 1 %} {{rec2.bCam1Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> B. Cam 2: </th><td> {% if rec2.backCams >= 2 %} {{rec2.bCam2Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> B. Cam 3: </th><td> {% if rec2.backCams >= 3 %} {{rec2.bCam3Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> B. Cam 4: </th><td> {% if rec2.backCams >= 4 %} {{rec2.bCam4Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> SIM(s): </th><td>  {{rec2.sims}} </td></tr>
                                                <tr><th> Sim 1 : </th><td> {{rec2.sim1Network}}  </td></tr>
                                                <tr><th> SIM2: </th><td> {% if rec2.sims >= 2 %} {{rec2.sim2Network}}  {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> SIM3: </th><td> {% if rec2.sims >= 3 %} {{rec2.sim3Network}}  {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> SIM4: </th><td> {% if rec2.sims >= 4 %} {{rec2.sim4Network}}  {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> Battery : </th><td> {{rec2.battery}}  mAH</td></tr>
                                            </table>
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if rec3 %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{% static 'images/' %}{{rec3.photo}}">
                                    <ul class="product__hover">
                                        <li><a href="{% static 'images/' %}{{rec3.photo}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'add-to-wishlist' rec3.id%}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url 'product' rec3.id %}"><span class="icon_info_alt"></span></a></li>
                                        <li><a href="{% url 'rem-from-compare' 3 %}"><span class="icon_close"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{rec3.model}}</a></h6>
                                    <div class="product__price">{{rec3.brand.name}}</div>
                                    <div class="rating">
                                        <p>
                                            <table>
                                                <tr><th>Price </th> <td>Rs. {{rec3.price}}</td>   </tr>
                                                <tr><th>OS </th> <td>{{rec3.os}}</td>   </tr>
                                                <tr><th>Colors </th> <td>{{rec3.colors}}</td>   </tr>
                                                <tr><th>Weight </th> <td>{{rec3.weight}} grms</td>   </tr>
                                                <tr><th>RAM </th> <td>{{rec3.ram}}{{rec3.ramUnit}}</td>   </tr>
                                                <tr><th>ROM </th> <td>{{rec3.rom}}{{rec3.romUnit}}</td>   </tr>
                                                <tr><th>Announced Date : </th> <td>{{rec3.announcedDate}}</td>   </tr>
                                                <tr><th>Launch Date : </th> <td>{{rec3.launchDate}}</td>   </tr>
                                                <tr><th>Screen Dimension: ({{rec3.dimentionUnit}})</th> <td>{{rec3.screenHeight}} x {{rec3.screenWidth}}</td>   </tr>
                                                <tr><th>Product Dimension H x W x L  ({{rec3.dimentionUnit}}) :</th> <td>{{rec3.height}} x {{rec3.width}} x {{rec3.length}}</td>   </tr>
                                                
                                                <tr><th>Wifi : </th> <td>{{rec3.wifi}} ({{rec3.wifiVersion}})</td>   </tr>
                                                <tr><th>Bluetooth : </th> <td>{{rec3.bluetooth}} ({{rec3.btVersion}})</td>   </tr>
                                                <tr><th>FM Radio : </th> <td>{{rec3.fm}}</td>   </tr>
                                                <tr><th>Front Camera(s) : : </th> <td>{{rec3.frontCams}} Flash : {{rec3.fCamFlash}}</td>   </tr>
                                                <tr><th> F. Cam 1: </th><td> {% if rec3.frontCams >= 1 %} {{rec3.fCam1Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> F. Cam 2: </th><td> {% if rec3.frontCams >= 2 %} {{rec3.fCam2Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> F. Cam 3: </th><td> {% if rec3.frontCams >= 3 %} {{rec3.fCam3Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th>Back Camera(s) : : </th> <td>{{rec3.backCams}} Flash : {{rec3.bCamFlash}}</td>   </tr>
                                                <tr><th> B. Cam 1: </th><td> {% if rec3.backCams >= 1 %} {{rec3.bCam1Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> B. Cam 2: </th><td> {% if rec3.backCams >= 2 %} {{rec3.bCam2Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> B. Cam 3: </th><td> {% if rec3.backCams >= 3 %} {{rec3.bCam3Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> B. Cam 4: </th><td> {% if rec3.backCams >= 4 %} {{rec3.bCam4Res}}  MP {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> SIM(s): </th><td>  {{rec3.sims}} </td></tr>
                                                <tr><th> Sim 1 : </th><td> {{rec3.sim1Network}}  </td></tr>
                                                <tr><th> SIM2: </th><td> {% if rec3.sims >= 2 %} {{rec3.sim2Network}}  {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> SIM3: </th><td> {% if rec3.sims >= 3 %} {{rec3.sim3Network}}  {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> SIM4: </th><td> {% if rec3.sims >= 4 %} {{rec3.sim4Network}}  {% else %} NIL {% endif %}</td></tr>
                                                <tr><th> Battery : </th><td> {{rec1.battery}}  mAH</td></tr>
                                            </table>
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
    {% endblock %}