
    
{% extends 'main.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Wishlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rec in records %}
                                <tr>
                                    <td class="cart__product__item">
                                        <img src="{% static 'images/' %}{{rec.mobile.photo}}" width="25%" height="25%" alt="">
                                        <div class="cart__product__item__title">
                                            <h6>{{rec.mobile.brand.name}} {{rec.mobile.model}}</h6>
                                        </div>
                                    </td>
                                    <td class="cart__price">Rs. {{rec.mobile.price}}</td>
                                    <td class="cart__close">
                                       <a href="{% url 'del-from-wishlist' rec.id %}"> <span class="icon_close"></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->

    {% endblock %}